pipeline/pl_APIresponse_Copy_To_Gen2.json
{
	"name": "pl_APIresponse_Copy_To_Gen2",
	"properties": {
		"activities": [
			{
				"name": "APIAccessTokenFetch",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://dummyjson.com/auth/login",
					"body": {
						"username": "emilys",
						"password": "emilyspass",
						"expiresInMins": 30
					},
					"authentication": {
						"type": "Basic",
						"username": "emilys",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_DataEngg_keyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "APIKeyPass"
						}
					}
				}
			},
			{
				"name": "APIProductsResponseCopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "APIAccessTokenFetch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('APIAccessTokenFetch').output.accessToken}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_API_Product",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_API_Gen2_Products",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "migrateAPItogen2"
		},
		"annotations": []
	}
}