adf-dataeng-training-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dataeng-training-dev"
		},
		"ls_Adf_to_ADLS_Gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_Adf_to_ADLS_Gen2'"
		},
		"ls_onprem_filesystem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_onprem_filesystem'"
		},
		"ls_Adf_to_ADLS_Gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stadlsgen2dataenggdev2.dfs.core.windows.net/"
		},
		"ls_DataEngg_keyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvdataenggsecrets.vault.azure.net/"
		},
		"ls_onprem_filesystem_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\projects\\files"
		},
		"ls_onprem_filesystem_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "ynhemanth@hotmail.com"
		},
		"ls_onprem_sqlserver_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "HEMANTHPC\\SQLEXPRESS"
		},
		"ls_onprem_sqlserver_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "mbdbx101"
		},
		"ls_onprem_sqlserver_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ynhemanth"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_Adf_to_ADLS_Gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_Adf_to_ADLS_Gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_Adf_to_ADLS_Gen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_DataEngg_keyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_DataEngg_keyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IRselfhosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsADFToADLSGen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Adf_to_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "onPremSql"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Adf_to_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ADF_csv_to_gen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Adf_to_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "onPremCSV"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "CSV",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Adf_to_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_onprem_filesystem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ls_onprem_filesystem_properties_typeProperties_host')]",
					"userId": "[parameters('ls_onprem_filesystem_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_onprem_filesystem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IRselfhosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IRselfhosted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_onprem_sqlserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_onprem_sqlserver_properties_typeProperties_server')]",
					"database": "[parameters('ls_onprem_sqlserver_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_onprem_sqlserver_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_DataEngg_keyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "HemanthPCSQLServer"
					}
				},
				"connectVia": {
					"referenceName": "IRselfhosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IRselfhosted')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_DataEngg_keyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_API_to_gen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "APIWebAccess",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://dummyjson.com/auth/login",
							"body": {
								"username": "emilys",
								"password": "emilyspass",
								"expiresInMins": 120
							},
							"authentication": {
								"type": "Basic",
								"username": "maheer123@gmail.com",
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "ls_DataEngg_keyVault",
										"type": "LinkedServiceReference"
									},
									"secretName": "APIKeyPass"
								}
							}
						}
					},
					{
						"name": "APITokenPassToCopy",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "APIWebAccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "Bearer @{activity('APIWebAccess').output.accessToken}",
									"type": "Expression"
								}
							},
							"url": "https://dummyjson.com/auth/products"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "migrateAPItogen2"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DataEngg_keyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_onPremCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_onprem_filesystem",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "onPremCSV"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "locations.csv"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_onprem_filesystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsonpremSQLToADF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_onprem_sqlserver",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "onPremSql"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AdminID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Login",
						"type": "varchar"
					},
					{
						"name": "Password",
						"type": "varchar"
					},
					{
						"name": "CentreID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CentreAdmin",
						"type": "bit"
					},
					{
						"name": "ConfigAdmin",
						"type": "bit"
					},
					{
						"name": "SummaryReports",
						"type": "bit"
					},
					{
						"name": "UserAdmin",
						"type": "bit"
					},
					{
						"name": "Forename",
						"type": "varchar"
					},
					{
						"name": "Surname",
						"type": "varchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "IsCentreManager",
						"type": "bit"
					},
					{
						"name": "Approved",
						"type": "bit"
					},
					{
						"name": "PasswordReminder",
						"type": "bit"
					},
					{
						"name": "EITSProfile",
						"type": "varchar"
					},
					{
						"name": "PasswordReminderHash",
						"type": "varchar"
					},
					{
						"name": "PasswordReminderDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Active",
						"type": "bit"
					},
					{
						"name": "ContentManager",
						"type": "bit"
					},
					{
						"name": "PublishToAll",
						"type": "bit"
					},
					{
						"name": "ImportOnly",
						"type": "bit"
					},
					{
						"name": "TCAgreed",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ContentCreator",
						"type": "bit"
					},
					{
						"name": "FailedLoginCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProfileImage",
						"type": "image"
					},
					{
						"name": "Supervisor",
						"type": "bit"
					},
					{
						"name": "Trainer",
						"type": "bit"
					},
					{
						"name": "CategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SkypeHandle",
						"type": "nvarchar"
					},
					{
						"name": "PublicSkypeLink",
						"type": "bit"
					},
					{
						"name": "IsFrameworkDeveloper",
						"type": "bit"
					},
					{
						"name": "ResetPasswordID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsFrameworkContributor",
						"type": "bit"
					},
					{
						"name": "IsWorkforceManager",
						"type": "bit"
					},
					{
						"name": "IsWorkforceContributor",
						"type": "bit"
					},
					{
						"name": "IsLocalWorkforceManager",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AdminUsers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_onprem_sqlserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_onPremCSV_To_gen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pl_onPremCSV_To_gen2_migration",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_onPremCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ADF_csv_to_gen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "migrateCSVtogen2"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_onPremCSV')]",
				"[concat(variables('factoryId'), '/datasets/ds_ADF_csv_to_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sqlonPrem_to_gen2_migration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pl_OnpremSql_ADF",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AdminID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "AdminID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Login",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Login",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Password",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Password",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CentreID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CentreID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CentreAdmin",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CentreAdmin",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ConfigAdmin",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ConfigAdmin",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SummaryReports",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SummaryReports",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UserAdmin",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "UserAdmin",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Forename",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Forename",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Surname",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Surname",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IsCentreManager",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsCentreManager",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Approved",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Approved",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PasswordReminder",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "PasswordReminder",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EITSProfile",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "EITSProfile",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PasswordReminderHash",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PasswordReminderHash",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PasswordReminderDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "PasswordReminderDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Active",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Active",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ContentManager",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ContentManager",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PublishToAll",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "PublishToAll",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ImportOnly",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ImportOnly",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TCAgreed",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TCAgreed",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ContentCreator",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ContentCreator",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FailedLoginCount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FailedLoginCount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ProfileImage",
											"type": "Byte[]",
											"physicalType": "image"
										},
										"sink": {
											"name": "ProfileImage",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Supervisor",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Supervisor",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Trainer",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Trainer",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CategoryID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CategoryID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SkypeHandle",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SkypeHandle",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PublicSkypeLink",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "PublicSkypeLink",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IsFrameworkDeveloper",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsFrameworkDeveloper",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ResetPasswordID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ResetPasswordID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IsFrameworkContributor",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsFrameworkContributor",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IsWorkforceManager",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsWorkforceManager",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IsWorkforceContributor",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsWorkforceContributor",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IsLocalWorkforceManager",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsLocalWorkforceManager",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsonpremSQLToADF",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dsADFToADLSGen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "migratesqltogen2"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsonpremSQLToADF')]",
				"[concat(variables('factoryId'), '/datasets/dsADFToADLSGen2')]"
			]
		}
	]
}